.card {
  list-style-type: none;
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 325px;
  aspect-ratio: 1 / 1;
  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  overflow: hidden;
  --like-button-inactive: url(../../assets/like-inactive.svg);
  --like-button-active: url(../../assets/like-active.svg);
}

.card:hover {
  transform: scale(1.03);
}

.card__header {
  position: absolute;
  top: 15px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  z-index: 1;
}

.card__name {
  margin: 0;
  padding: 2px 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: #ffffff;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(0, 0, 0, 0.6);
  flex: 1;
  min-width: 0;
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.card__like-button {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  background-image: var(--like-button-inactive);
  background-color: transparent;
  border: none;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card__like-button_active {
  background-image: var(--like-button-active);
}

.card__like-button_hidden {
  display: none;
}

.card__like-button:hover {
  opacity: 0.6;
}
