.card {
  list-style-type: none;
  position: relative;
  display: flex;
  justify-content: center;
  width: 323px;
}

.card__name {
  list-style-type: none;
  position: absolute;
  top: 15px;
  margin: 0;
}

.card__image {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
