.card {
  list-style-type: none;
  position: relative;
  display: flex;
  justify-content: center;
  width: 323px;
  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.03);
}

.card__name {
  list-style-type: none;
  position: absolute;
  top: 15px;
  margin: 0;
  padding: 2px 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: #ffffff;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(0, 0, 0, 0.6);
}

.card__image {
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
