.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
}

.header__logo {
  margin-right: 24px;
  cursor: pointer;
}

.header__spacetime {
  margin-right: auto;
}

.header__controls {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.header__toggle-switch {
  margin-right: 20px;
}

.header__button {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 20px;
  line-height: 1.2;
}

.header__button-add-clothes {
  cursor: pointer;
  border: none;
  background: #f3f3f3;
}

.header__profile {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 0;
}

.header__username {
  margin: 0 12px 0 0;
}

.header__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.header__avatar_none {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  border: 2px solid #000;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.header__avatar .header__avatar_none {
  text-decoration: none;
}

.header__profile-link {
  text-decoration: none;
  color: #000;
}
