.item-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  border-radius: 12px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s ease;
}

.item-modal__opened {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease;
}

.item-modal__content {
  padding: 0;
  background-color: #ffffff;
  max-width: 498px;
  border-radius: 12px;
  position: relative;
  box-sizing: border-box;
}

.item-modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  background: transparent url("../../assets/close-white.png") no-repeat center;
  border: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
  z-index: 2;
}

.item-modal__image {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  object-fit: contain; /* Adjust this if cover doesn't give the desired effect */
  object-position: center;
  box-sizing: border-box;
  max-width: 100%;
  margin: 0;
  padding: 0;
  border-radius: 12px 12px 0 0;
}

.item-modal__caption {
  margin: 0 0 12px;
}

.item-modal__weather {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}

.item-modal__footer {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  padding: 32px;
}
