.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s ease;
  z-index: 999;
}

.modal__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 20px;
}

.modal__weather {
  font-size: 20px;
}

.modal_opened {
  opacity: 1;
  visibility: visible;
  transition: visibility 0s, opacity 0.5s ease;
}

.modal_type_item .modal__content {
  padding: 0;
  background-color: #ffffff;
  max-width: 498px;
  border-radius: 12px;
  position: relative;
  box-sizing: border-box;
  overflow-y: auto;
  transform: scale(0.9);
  transition: transform 0.3s ease;
}

.modal_opened .modal__content {
  transform: scale(1);
}

.modal_type_item .modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  background: transparent url("../../assets/close-white.png") no-repeat center;
  border: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
  z-index: 2;
}

.modal_type_item .modal__image {
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center;
  box-sizing: border-box;
  max-width: 100%;
  margin: 0;
  padding: 0;
  border-radius: 12px 12px 0 0;
}

.modal_type_item .modal__caption {
  margin: 0 0 12px;
}

.modal_type_item .modal__weather {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}

.modal_type_item .modal__footer {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  padding: 32px;
}

.modal__delete-button {
  background: none;
  border: none;
  color: #ff4d00;
  font-size: 20px;
  cursor: pointer;
  padding: 0;
  margin: 5px 0 0;
}

.modal__delete-button:hover {
  opacity: 0.7;
}
