.sidebar {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
}

.sidebar__user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.24;
  margin: 0;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
}

.sidebar__avatar_placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
  font-size: 24px;
}

.sidebar__username {
  margin: 0;
  font-size: 20px;
  line-height: 1.2;
}

.sidebar__buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.sidebar__button {
  width: auto;
  padding: 0;
  background: none;
  border: none;
  font-size: 20px;
  line-height: 1.2;
  cursor: pointer;
  text-align: left;
}

.sidebar__button_type_logout {
  color: #ff4d00;
}
