.sidebar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.24;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
  margin: 0 16px 0 0;
}

.sidebar__avatar_none {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  border: 2px solid #000;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.sidebar__avatar .sidebar__avatar_none {
  text-decoration: none;
}
